header{
    background-color: #bbbbbb;
    padding: 20px 0;
}
.caja {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.logo_ppal{
    height: 150px;
}
nav {
    position: absolute;
    top:75px;
    right: 0px;
}
nav li {
    display: inline-block;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.lista_precios{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.lista_precios li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border : 2px solid #000000;
    border-top-left-radius: 20px;
    border-radius: 10px;
}

.lista_precios li:hover{
    color: #c78c19;
    border-color: #c78c19;
}

.lista_precios li:active{
    border-color: #088c19;
}

.lista_precios h2{
    font-size: 30px;
    font-weight: bold;
}
.lista_precios li:hover h2{
    font-size: 33px;
}
.descrip_prod{
    font-size: 18px;

}
.precio_prod{
font-size: 20px;
font-weight: bold;
margin-top: 10px;
}

footer{
    text-align: center;
    background: url(/img/bg.jpg);
    padding: 40px;
}
.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background: #ffa500;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}
.enviar:hover{
    background: #ff8c00;
    transform: scale(1.2);
}
